<style>
  .sticky{
    position:fixed;
  }
</style>
<div class="container">
  <div style="margin-top: 17px;" id="some1" class="row well">
    <p class="book">Books in Library</p>

  <div class="row">
    <div class="col-md-9">
      <form  method="POST" action="/process7" name="search">
        <input style="width: 30%; align-self: left" type="text" name="searched" placeholder="Search">
        <button style="height: 46px; width: 7%; color: #3b5998;" type="submit">Go</button>
      </form>
    </div>
    <div class="col-md-3">
      <a href="/"><button class="btn" id="main_page_btn" style="left:84%; top:12%; color:#3b5998; font-weight:bold; margin-bottom: 7px;">Main-Page</button></a>
      <br>
      {{#if searched}}
      <a href="/allbooks"><button class="btn" style="left:84%; top:22%; color:#3b5998; font-weight:bold;">Clear Search</button></a>
      {{/if}}

    </div>
  </div>

  </div>

  {{#if searched}}
    {{#if all_books}}
      <h3>
        <span style="font-size:15px;">Search result for:</span> "<b style="color:white;">{{searched}}</b>"
      </h3>
    {{/if}}
    {{#unless all_books}}
      <h3>
        <span style="font-size:15px;">No result for:</span> "<b style="color:white;">{{searched}}</b>"
      </h3>
    {{/unless}}

  {{/if}}

  {{#if all_books}}
  <div class="row">
    <table class="table-fill">

      <thead>
      <tr>
        <th>Book Name</th>
        <th>Total # of copies</th>
        <th>Available # of copies</th>
      </tr>
      </thead>

      <tbody class="table-hover">
        {{#each all_books}}
          <tr>
            <td>{{bname}}</td>
            <td>{{total}}</td>
            <td>{{available}}</td>
          </tr>
        {{/each}}
      </tbody>

    </table>
  </div>
  {{/if}}


</div>

<script>
  var btn = document.getElementById("main_page_btn");
  var win_scroll = window.scrollY;

</script>
