<a href="/"><button class="btn" id="main_page_btn" style="color:#3b5998; font-weight:bold; position:fixed; left:84%; top:12%">Main-Page</button></a>
<div class="container">
  <div style="margin-top: 17px;" id="some1" class="row well">
    <p class="book">Books in Library</p>

    <form  method="POST" action="/process7" name="search">
      <input style="width: 30%; align-self: left" type="text" name="searched" placeholder="Search">
      <button style="height: 46px; width: 7%; color: #3b5998;" type="submit">Go</button>
  </form>
  </div>

  {{#if searched}}
    <a href="/allbooks"><button class="btn" style="position:fixed; left:84%; top:22%; color:#3b5998; font-weight:bold;">Clear Search</button></a>
    {{#if all_books}}
      <h3>
        <span style="font-size:15px;">Search result for:</span> "<b style="color:white;">{{searched}}</b>"
      </h3>
    {{/if}}
    {{#unless all_books}}
      <h3>
        <span style="font-size:15px;">No result for:</span> "<b style="color:white;">{{searched}}</b>"
      </h3>
    {{/unless}}

  {{/if}}

  {{#if all_books}}
  <div class="row">
    <table class="table-fill">

      <thead>
      <tr>
        <th>Book Name</th>
        <th>Total # of copies</th>
        <th>Available # of copies</th>
      </tr>
      </thead>

      <tbody class="table-hover">
        {{#each all_books}}
          <tr>
            <td>{{bname}}</td>
            <td>{{total}}</td>
            <td>{{available}}</td>
          </tr>
        {{/each}}
      </tbody>

    </table>
  </div>
  {{/if}}


</div>

<script>
  // function fixx(){
  //
  //   //style="position:fixed; left:84%; top:12%; "
  //   //console.log(window.pageYOffset);
  //   var len = document.getElementById('libhead').offsetHeight;
  //   //console.log(len);
  //   var wid = document.getElementById('libhead').offsetWidth - document.getElementById('some1').offsetWidth;
  //   wid /= 2;
  //   wid += document.getElementById('some1').offsetWidth;
  //   console.log(wid);
  //
  //   var btn = document.getElementById('main_page_btn');
  //   if(len<window.pageYOffset){
  //     btn.style.position="fixed";
  //     btn.style.top='50px';
  //     btn.style.left=wid-20+'px';
  //   }
  // }


  //window.onscroll=fixx

</script>
