	<div class="container">
		<div class="row well">
			<p class="book">
				MY BOOKS<br>
				<a href="/login">
					<button style="display:{{inbtnstyle}}; font-size:20px; margin-top:5px; background-color:#3b5998; border:0; border-radius:3px; color:white;">Log in</button>
				</a>
			</p>
			<form method="POST" action="/process2">
				<p style="color:#3b5998; font-weight:bold; float:right;">
					{{sid}}
					<button type="submit" style="display:{{outbtnstyle}}; background-color:#3b5998; border:0; border-radius:3px; color:white;">Log out</button>
				</p>
			</form>
		</div>
		<div class="row">
			{{#if books}}
			<table class="table-fill">
				<thead>
				<tr>
					<th>Book id</th>
					<th>Book Name</th>
					<th>Issue Date</th>
					<th>Due Date</th>
				</tr>
				</thead>
				<tbody class="table-hover">

				{{#each books}}
				<tr>
					<td>{{bid}}</td>
					<td>{{bname}}</td>
					<td class="date">{{issue_date}}</td>
					<td class="date">{{renewed_date}}</td>
				</tr>
				{{/each}}
				</tbody>
			</table>
			{{/if}}
		</div>
	</div>

<div class="container" style="margin-top:14px;">
	<div class="row well">
		<p class="book">
			Books in Library<br>
			<a href="/allbooks">
				<button style="font-size:20px; margin-top:5px; background-color:#3b5998; border:0; border-radius:3px; color:white;">Book Collection</button>
			</a>
		</p>
	</div>
</div>
<script>
	//date format
	var x = document.getElementsByClassName("date");
	for(var i=0;i<x.length;i++){
		var t = x[i].innerHTML.split(/[- :]/);
		var strDate = t[2]+ ', ' +  t[1] + ', ' + t[3];
		x[i].innerHTML=strDate;
	}
</script>
